<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488171247317-jk6atkuqimoepj90j2phjdg6631ssgbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488171247317-jk6atkuqimoepj90j2phjdg6631ssgbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBlIyVGHWLqJjqjB-3PBZfZkFaFOPiLhKk</string>
	<key>GCM_SENDER_ID</key>
	<string>488171247317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkingpal</string>
	<key>PROJECT_ID</key>
	<string>parkingpal-ff21a</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingpal-ff21a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488171247317:ios:78cd094560edb31b78b45c</string>
</dict>
</plist>